/*=================================================================*/
/*  CUSTOM STYLES BEGIN HERE                                       */
/*=================================================================*/
html, body, .header-bar { 
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.1rem;
}

body { margin: 0 }

.u-full-width {
  max-width: 1200px;
}

.header-bar {
  width: 100%;
  background-color: #fff;
  background-image: url(../img/cover-hd.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  height: 600px;
  max-height: 600px;
  position: relative;
}

h1, h2, h3, h4, h5, .header-bar {
  font-family: 'Quicksand', sans-serif; 
}

.header-bar .container-bg {
  width: 100%;
  background-color: #e7ac45;
  letter-spacing: .1rem;
}

.header-bar .logo {
  background: url(../img/arifniaga-logo.png) left 50% no-repeat;
  background-size: 10%;
  display: block;
  padding: 1.5rem 0 1.5rem 3.5rem;
  margin: 0;
}

.header-bar nav ul {
  list-style: none;
  padding: 1.5rem 0;
  margin: 0;
}

.header-bar nav ul li {
  display: inline;
  padding: 0;
  margin: 0;
}

.header-bar a {
  font-size: 90%;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #9a4419;
  padding: 0 1rem;
}

.header-bar a:hover, .header-bar a:active {
  color: rgb(0, 0, 0);
}

.call-to-action {
  bottom: 20%;
  max-width: 70%;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  color: #9a4419;
  font-size: 1.5rem;
  padding: 2.5rem 1rem 0rem 1rem;
}

.call-to-action h1 {
  font-family: 'Hind', sans-serif;
  letter-spacing: .2rem;
}

.header-bar .emphasis {
  color: #141462;
}

.emphasis {
  font-weight: 700;
  text-transform: uppercase;
}

.content-segment h1 {
  text-align: center;
  margin: 0.5em 0 0 0;
  font-size: 4em;
  text-transform: uppercase;
}

.subhead {
  text-align: center;
}

.services {
  background-color: #ccc;
}

.contact-us, .footer {
  background-color: #e7ac45;
}

.portfolio, .services, .about-us {
  padding: 5rem 5rem 10rem 5rem;
}

.portfolio {
  padding-left: 0;
  padding-right: 0;
}

.services {
  text-align: center;
}

.services h4 {
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

.services .row {
  margin-bottom: 3em;
}

.services-panel p {
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  color: #9a4419;
}

.elevators-escalators { background: url(../img/elevators-escalators-desat.jpg) center center no-repeat; }
.hydraulics-scissorlifts { background: url(../img/hydraulics-scissorlifts-desat.jpg) center center no-repeat; }
.management-consultancy { background: url(../img/management-consultancy-desat.jpg) center center no-repeat; }
.mechanical-electrical { background: url(../img/mechanical-electrical-desat.jpg) center center no-repeat; }

:hover.elevators-escalators { background-image: url(../img/elevators-escalators.jpg); }
:hover.hydraulics-scissorlifts { background-image: url(../img/hydraulics-scissorlifts.jpg); }
:hover.management-consultancy { background-image: url(../img/management-consultancy.jpg); }
:hover.mechanical-electrical { background-image: url(../img/mechanical-electrical.jpg); }

.about-panel, .services-panel {
  padding-top: 1em;
  text-align: center;
  max-height: 400px;
  height: 400px;
}

.about-panel h4 {
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 300px;
}

.about-dedication { background: url(../img/dedication.jpg) center center no-repeat; }
.about-creative { background: url(../img/creative.jpg) center center no-repeat; }
.about-energetic { background: url(../img/energetic.jpg) center center no-repeat; }


.footer {
  margin-top: 0;
  font-size: 0.8em;
}

.contact-us {
  padding: 1em 0 2em 0;
  margin-bottom: 0;
}

.contact-form {
  padding-right: 2rem;
  padding-left: 2rem;
}

.contact-form input.button-primary, 
.contact-form input:visited.button-primary, 
.contact-form input:active.button-primary, 
.contact-form input:hover.button-primary {
  background-color: #9a4419;
  border-color: #9a4419;
  font-size: 1.5rem;
  padding: 1rem 8rem;
  margin: 2rem auto;
  height: auto;
}

.center-align {
  text-align: center
}

.after-submit-notice {
  background: rgb(255, 210, 170);
  text-align: center;
  padding: 2rem 2rem 0rem 2rem;
  margin-bottom: 2rem;
  display: none;
}

.required {
  color: red;
}

.an-contact {
  text-align: center;
}

.row.no-gap {
  margin-bottom: 0;
}

.services-text {
  text-align: left;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.portfolio-carousel, .portfolio-strip {
  position: absolute;
  overflow: hidden;
  width: 600px;
}

.portfolio-strip {
  width: 100%;
  filter: blur(5px);
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.portfolio-carousel-container {
  margin-top: -100px;
}

.portfolio-carousel {
  margin: -550px auto auto auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*.carousel-container img {
  width: 600px;
}*/

.portfolio-carousel img {
  max-width: 100%;
  width: 100%;
}

.portfolio-carousel h3 {
  font-size: 3rem;
  margin-top: 1rem;
  text-align: center;
}

.portfolio-strip img {
  max-width: 100%;
  width: 100%;
  height: auto;
}