/*=================================================================*/
/*  CUSTOM STYLES BEGIN HERE                                       */
/*=================================================================*/
html, body, .header-bar { height: 100% }
body { margin: 0 }
.header-bar {
  width: 100%;
  background: green;
  background-image: url(../img/cover-hd.jpg);
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.header-bar .container-bg {
  width: 100%;
  position: absolute;
  margin-top: 2em;
  background-color: #e7ac45;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.header-bar .logo {
  display: block;
  padding: 0.4em 0;
  margin: 0;
}

.header-bar nav ul {
  list-style: none;
  padding: 0.4em 0;
  margin: 0;
}

.header-bar nav ul li {
  display: inline;
  padding: 0;
  margin: 0;
}

.header-bar a {
  font-size: 100%;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #555555;
  padding: 0 1em;
}

.header-bar a:hover, .header-bar a:active {
  color: rgb(0, 0, 0);
}

.header-bar .call-to-action {
  top: 70%;
  max-width: 65%;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  color: #9a4419;
  font-size: 1.5em;
  padding: 0.5em 1em 0em 1em;
}

.header-bar .emphasis {
  color: #141462;
}

.emphasis {
  font-weight: 700;
  text-transform: uppercase;
}
