/*=================================================================*/
/*  CUSTOM STYLES BEGIN HERE                                       */
/*=================================================================*/
html, body, .header-bar { 
  
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.1rem;
}
body { margin: 0 }

.header-bar {
  width: 100%;
  background-color: #fff;
  background-image: url(../img/cover-hd.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 80rem;
}

h1, h2, h3, h4, h5, .header-bar {
  font-family: 'Quicksand', sans-serif; 
}

.header-bar .container-bg {
  width: 100%;
  background-color: #e7ac45;
  letter-spacing: .1rem;
}

.header-bar .logo {
  display: block;
  padding: 1.5rem 0;
  margin: 0;
}

.header-bar nav ul {
  list-style: none;
  padding: 1.5rem 0;
  margin: 0;
}

.header-bar nav ul li {
  display: inline;
  padding: 0;
  margin: 0;
}

.header-bar a {
  font-size: 110%;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #9a4419;
  padding: 0 2rem;
}

.header-bar a:hover, .header-bar a:active {
  color: rgb(0, 0, 0);
}

.call-to-action {
  bottom: 3rem;
  max-width: 70%;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  color: #9a4419;
  font-size: 1.5rem;
  padding: 2.5rem 1rem 0rem 1rem;
}

.call-to-action h1 {
  font-family: 'Hind', sans-serif;
  letter-spacing: .2rem;
}

.header-bar .emphasis {
  color: #141462;
}

.emphasis {
  font-weight: 700;
  text-transform: uppercase;
}

.content-segment h1 {
  text-align: center;
  margin: 0.5em 0 0 0;
  font-size: 4em;
  text-transform: uppercase;
}

.subhead {
  text-align: center;
}

.services {
  background-color: #ccc;
}

.contact-us, .footer {
  background-color: #e7ac45;
}

.portfolio, .services, .about-us {
  padding: 5rem;
  margin-bottom: 5rem;
}

.services {
  text-align: center;
}

.services h4 {
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0;
}

.services .row {
  margin-bottom: 3em;
}

.services-panel p {
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
}

.elevators-escalators { background: url(../img/elevators-escalators.jpg) center center no-repeat; }
.hydraulics-scissorlifts { background: url(../img/hydraulics-scissorlifts.jpg) center center no-repeat; }
.management-consultancy { background: url(../img/management-consultancy.jpg) center center no-repeat; }
.mechanical-electrical { background: url(../img/mechanical-electrical.jpg) center center no-repeat; }

.about-panel, .services-panel {
  padding-top: 1em;
  text-align: center;
  max-height: 400px;
  height: 400px;
}

.about-panel h4 {
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 300px;
}

.about-dedication { background: url(../img/dedication.jpg) center center no-repeat; }
.about-creative { background: url(../img/creative.jpg) center center no-repeat; }
.about-energetic { background: url(../img/energetic.jpg) center center no-repeat; }


.footer {
  margin-top: 0;
  font-size: 0.8em;
}

.contact-us {
  padding: 1em 0 2em 0;
  margin-bottom: 0;
}

.an-contact {
  text-align: center;
}